<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>student</servlet-name>
    <servlet-class>com.demo.servlet.student</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>lesson</servlet-name>
    <servlet-class>com.demo.servlet.lesson</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StartExam</servlet-name>
    <servlet-class>com.demo.servlet.StartExam</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Manager</servlet-name>
    <servlet-class>com.demo.servlet.Manager</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Questions</servlet-name>
    <servlet-class>com.demo.servlet.Questions</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StuResult</servlet-name>
    <servlet-class>com.demo.servlet.StuResult</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaoTi</servlet-name>
    <servlet-class>com.demo.servlet.TaoTi</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>student</servlet-name>
    <url-pattern>/student</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>lesson</servlet-name>
    <url-pattern>/lesson</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StartExam</servlet-name>
    <url-pattern>/StartExam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Manager</servlet-name>
    <url-pattern>/Manager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Questions</servlet-name>
    <url-pattern>/Questions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StuResult</servlet-name>
    <url-pattern>/StuResult</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaoTi</servlet-name>
    <url-pattern>/TaoTi</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
